@import Model.LoginModel

@(userLogin : Form[LoginModel])
@main("Login"){
    @helper.form(action = routes.HomeController.user(), 'class -> "login"){
        <div class="container">
            <div class="hero">
                <span class="login_title">
                    <h2><strong>Bienvenido</strong></h2>
                </span>
                    @helper.inputText(userLogin("username"))
                    @helper.inputPassword(userLogin("password"))







                    <!--<label for="uname"><b>Username</b></label>-->
                <!--<input type="text" placeholder="Username" name="uname" required>
                    <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Password" name="psw" required>-->
                <button class="sub" type="submit"><b>LOGIN</b></button>
            </div>
        </div>
    }
}