@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(userLogin : UserModel)
@import helper._



@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Login"){
    @helper.form(action = routes.HomeController.user(), 'class -> "login"){
        <div class="container">
            <div class="hero">
                <span class="login_title">
                    <h2><strong>Bienvenido</strong></h2>
                </span>
                    @helper.inputText(userLogin("username"))







                    <!--<label for="uname"><b>Username</b></label>-->
                <!--<input type="text" placeholder="Username" name="uname" required>
                    <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Password" name="psw" required>-->
                <button class="sub" type="submit"><b>LOGIN</b></button>
            </div>
        </div>
    }
}